.top-menu {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #C9C9C9;
}

.menu-inner {
  height: 100%;
  max-width: 1366px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 260px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-item {
  height: 18px;
  width: 100px;
  border-radius: 5px;
  background: #9C9C9C;
}

.nav-item * {
  opacity: 0;
}

