<div class="form">
  <div class="credit-card-area">
    <div class="area-header">
      <span>< Alterar forma de Pagamento</span>
    </div>
    <div>
      <div class="new-credit-card">
        <img
          class="new-credit-card-icon"
          src="../../../assets/images/credit-card-circle.png"
        />
        <span class="new-credit-card-text"
          >Adicione um novo cartão de crédito</span
        >
      </div>
      <div class="credit-card-display">
        <div class="credit-card-container">
          <div class="credit-card-data">
            <img
              id="credit-card-flag"
              src="../../../../../assets/images/visa-logo.png"
            />
            <div class="row">
              <span class="credit-card-info" id="credit-card-number"
                >5149 4505 6231 6542</span
              >
            </div>
            <div id="credit-card-bottom-row" class="row">
              <span class="credit-card-info" id="credit-card-name"
                >FELIPE B A PIO NT</span
              >
              <span class="credit-card-info" id="credit-card-date">06/26</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inputs-area">
    <div class="area-header">
      <div class="steps">
        <div class="step">
          <span class="step-number done"></span>
          <span class="step-title">Carrinho</span>
          <mat-icon
            [inline]="true"
            style="font-size: 30px; color: #de4b4b; margin-left: 16px"
            >keyboard_arrow_right
          </mat-icon>
        </div>
        <div class="step">
          <span class="step-number">2</span>
          <span class="step-title">Pagamento</span>
          <mat-icon
            [inline]="true"
            style="font-size: 30px; color: #de4b4b; margin-left: 16px"
            >keyboard_arrow_right
          </mat-icon>
        </div>
        <div class="step">
          <span class="step-number">3</span>
          <span class="step-title">Confirmação</span>
        </div>
      </div>
    </div>
    <form class="inputs">
      <div class="row">
        <mat-form-field id="form-credit-card-number" class="column-full">
          <mat-label>Número do cartão</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field id="form-credit-card-name" class="column-full">
          <mat-label>Nome (igual ao cartão)</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field id="form-credit-card-date" class="column-half">
          <mat-label>Validade</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field id="form-credit-card-cvv" class="column-half">
          <mat-label>CVV</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field id="form-credit-card-installments" class="column-full">
          <mat-label>Número de parcelas</mat-label>
          <mat-select name="installments" id="installments">
            <mat-option value="1">12x R$1.000,00 sem juros</mat-option>
            <mat-option value="12">1x R$12.000,00 sem juros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button matButton id="next-button" type="submit" href="#">
        Continuar
      </button>
    </form>
  </div>
</div>
