<div class="form">
  <div class="credit-card-area">
    <div class="area-header">
      <div class="default-header">
        <mat-icon
          [inline]="true"
          style="
            font-size: 28px;
            color: white;
            margin-right: 3.5px;
            margin-left: -5px;
          "
          >keyboard_arrow_left
        </mat-icon>
        <span id="page-back">Alterar forma de pagamento</span>
      </div>
      <div class="mobile-header">
        <mat-icon
          [inline]="true"
          style="
            font-size: 40px;
            color: white;
            margin-right: 3.5px;
            margin-left: 0px;
            margin-top: -12.5px;
            position: absolute;
          "
          >keyboard_arrow_left
        </mat-icon>
        <div class="mobile-title-container">
          <span id="mobile-step-indicator"><strong>Etapa 2 </strong>de 3</span>
        </div>
      </div>
    </div>
    <div class="new-credit-card-content">
      <div class="new-credit-card">
        <img
          class="new-credit-card-icon"
          src="../../../assets/images/credit-card-circle.png"
        />
        <span class="new-credit-card-text"
          >Adicione um novo cartão de crédito</span
        >
      </div>
      <div class="credit-card-display">
        <div
          [ngClass]="{
            'credit-card-container-front': hasCreditCardInfo,
            'credit-card-container-blank-front': !hasCreditCardInfo,
            'credit-card-container-back': cvvIsFocused && cardCvv.value,
            'credit-card-container-blank-back': cvvIsFocused && !cardCvv.value
          }"
          class="credit-card-container"
        >
          <div class="credit-card-data">
            <div [hidden]="cvvIsFocused" class="front-data">
              <img
                style="transition: 0.2s"
                [ngStyle]="{ opacity: hasCreditCardInfo ? '1' : '0' }"
                id="credit-card-flag"
                src="../../../../../assets/images/visa-logo.png"
              />
              <div class="row">
                <span
                  class="credit-card-info"
                  [ngStyle]="{
                    'font-size': hasCreditCardInfo ? '21px' : '26px',
                    'text-align':
                      cardNumber.value.length == 16 || !cardNumber.value.length
                        ? 'justify'
                        : 'center'
                  }"
                  id="credit-card-number"
                  >{{
                    (cardNumber.value | mask: "0000 0000 0000 0000") ||
                      "**** **** **** ****"
                  }}</span
                >
              </div>
              <div
                id="credit-card-bottom-row"
                class="row"
                style="display: flex"
              >
                <div class="credit-card-name-container">
                  <span class="credit-card-info" id="credit-card-name">{{
                    cardName.value || "NOME DO TITULAR"
                  }}</span>
                </div>
                <div style="width: 20%; display: inline">
                  <span class="credit-card-info" id="credit-card-date">{{
                    (cardDate.value | mask: "00/00") || "00/00"
                  }}</span>
                </div>
              </div>
            </div>
            <div [hidden]="!cvvIsFocused" class="back-data">
              <div class="row" id="credit-card-cvv-row">
                <span class="credit-card-info" id="credit-card-cvv">{{
                  cardCvv.value || "***"
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inputs-area">
    <div class="area-header">
      <div class="steps">
        <div class="step">
          <span class="step-number done"></span>
          <span class="step-title">Carrinho</span>
          <mat-icon [inline]="true" class="step-next-icon"
            >keyboard_arrow_right
          </mat-icon>
        </div>
        <div class="step">
          <span class="step-number">2</span>
          <span class="step-title">Pagamento</span>
          <mat-icon class="step-next-icon" [inline]="true"
            >keyboard_arrow_right
          </mat-icon>
        </div>
        <div class="step">
          <span class="step-number">3</span>
          <span class="step-title">Confirmação</span>
        </div>
      </div>
    </div>
    <form class="inputs" *ngIf="creditCardForm" [formGroup]="creditCardForm">
      <div class="row">
        <mat-form-field id="form-credit-card-number" class="column-full">
          <mat-label>Número do cartão</mat-label>
          <input
            [formControl]="cardNumber"
            matInput
            type="text"
            mask="0000 0000 0000 0000"
            autocomplete="cc-number"
          />
          <mat-error *ngIf="cardNumber?.invalid"
            >Número de cartão inválido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field id="form-credit-card-name" class="column-full">
          <mat-label>Nome (igual ao cartão)</mat-label>
          <input
            matInput
            type="text"
            [formControl]="cardName"
            autocomplete="cc-name"
            maxlength="26"
          />
          <mat-error *ngIf="cardName.errors?.pattern">Nome inválido</mat-error>
          <mat-error *ngIf="cardName.errors?.required"
            >Insira seu nome completo</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field id="form-credit-card-date" class="column-half">
          <mat-label>Validade</mat-label>
          <input
            [formControl]="cardDate"
            mask="00/00"
            matInput
            type="text"
            autocomplete="cc-exp"
          />
          <mat-error *ngIf="cardDate?.invalid || cardDate.errors?.required"
            >Data inválida</mat-error
          >
        </mat-form-field>
        <mat-form-field id="form-credit-card-cvv" class="column-half">
          <mat-label
            >CVV<mat-icon id="cvv-info-icon" [inline]="true"
              >info
            </mat-icon></mat-label
          >
          <input
            [formControl]="cardCvv"
            mask="000"
            matInput
            type="text"
            autocomplete="cc-csc"
            (focus)="toggleCvvFocus('on')"
            (focusout)="toggleCvvFocus('off')"
          />
          <mat-error
            *ngIf="cardCvv.errors?.minlength || cardCvv.errors?.required"
            >Código inválido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field
          [floatLabel]="'never'"
          id="form-credit-card-installments"
          class="column-full"
        >
          <mat-label>Número de parcelas</mat-label>
          <mat-select
            [formControl]="cardInstallments"
            name="installments"
            id="installments"
          >
            <mat-option value="1">12x R$1.000,00 sem juros</mat-option>
            <mat-option value="12">1x R$12.000,00 sem juros</mat-option>
          </mat-select>
          <mat-icon id="select-arrow-icon" matSuffix
            >keyboard_arrow_down
          </mat-icon>
          <mat-error *ngIf="cardInstallments.errors?.required"
            >Insira o número de parcelas</mat-error
          >
        </mat-form-field>
      </div>
      <button matButton id="next-button" type="submit" href="#">
        Continuar
      </button>
    </form>
  </div>
</div>
