.row {
  display: block;
}
.column-full {
  width: 100%;
}
.column-half {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.form {
  width: 1024px;
  height: 596px;
  background: white;
  display: flex;
}
.area-header {
  margin-bottom: 46.5px;
  display: flex;
  align-items: center;
}
.area-header #page-back {
  font: normal normal normal 13px Verdana;
}
.mobile-header {
  display: none;
}
.credit-card-area {
  width: 352px;
  padding-top: 46.5px;
  padding-left: 64px;
  padding-right: 16px;
  box-sizing: border-box;
  background: #de4b4b;
}
.credit-card-area .area-header {
  color: white;
}
.new-credit-card {
  display: flex;
}
.new-credit-card-icon {
  height: 50px;
  width: 50px;
}
.new-credit-card-text {
  margin-left: 15px;
  margin-top: 1px;
  font: normal normal 600 20px/24px Verdana;
  color: #fff;
}
.credit-card-display {
  margin-top: 30px;
  overflow: show;
}
.credit-card-container {
  height: 189px;
  width: 364px;
  padding-top: 35.5px;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0px 8px 8px -2px #4847478c;
}
.credit-card-container-front {
  background: url("../../../../../assets/images/credit-card-valid-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.credit-card-container-back {
  background: url("../../../../../assets/images/credit-card-valid-back-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.credit-card-container-blank-front {
  background: url("../../../../../assets/images/credit-card-blank-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.credit-card-container-blank-back {
  background: url("../../../../../assets/images/credit-card-blank-back-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.credit-card-data {
  width: 302px;
  margin: auto;
}
.credit-card-container .credit-card-info {
  color: #fff;
  text-shadow: 0px 1px 2px #000000b3;
  font: normal normal normal 16px/27px SF Pro Text;
}
#credit-card-flag {
  height: 23px;
  width: 69px;
  margin-left: -5.4px;
}
#credit-card-number {
  display: block;
  margin-top: 44.72px;
  letter-spacing: 2.35px;
  font-family: SF Pro Text;
  text-align: center;
}
#credit-card-number::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.credit-card-name-container {
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  display: inline;
  white-space: nowrap;
}
#credit-card-cvv-row {
  margin-left: 150px;
  margin-top: 69.5px;
}
#credit-card-cvv {
  font: normal normal normal 19px/28px SF Pro Text;
  letter-spacing: -0.57px;
  color: #3c3c3c;
}
#cvv-info-icon {
  vertical-align: middle;
  margin-left: 8px;
}

#credit-card-bottom-row {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

#credit-card-date {
  float: right;
}
.steps {
  display: flex;
  gap: 12px;
}
.steps span {
  font-family: Verdana;
  font-size: 13px;
  color: #de4b4b;
}
.step {
  display: flex;
  align-items: center;
}
.step-next-icon {
  font-size: 30px !important;
  color: #de4b4b;
  margin-left: 14px;
}
.step-number {
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 1px solid #de4b4b;
  border-radius: 50%;
  font-weight: bold;
}
.done {
  background: #de4b4b;
  color: transparent;
}
.done::after {
  content: "";
  background-image: url(../../../../../assets/images/done.png);
  height: 10px;
  width: 13px;
  background-size: cover;
  align-self: center;
  overflow: visible;
}
.inputs-area {
  width: 672px;
  padding-top: 46.5px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.inputs {
  width: 440px;
}
.inputs input,
.inputs .mat-select-value-text {
  color: #3c3c3c;
  font-family: Verdana;
  font-size: 17px;
}
.inputs mat-label {
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #c9c9c9;
  font-family: Verdana;
}

#form-credit-card-number input {
  word-spacing: 6px;
}

#form-credit-card-name,
#form-credit-card-installments,
#form-credit-card-date {
  margin-top: 22px;
}
#form-credit-card-date {
  padding-right: 16px;
}
#next-button {
  height: 51px;
  width: 246px;
  margin-top: 40px;
  float: right;
  background: #de4b4b;
  border: none;
  border-radius: 10px;
  font: normal normal 600 17px/22px SF Pro Text;
  letter-spacing: -0.01px;
  text-transform: uppercase;
  color: #ffffff;
}
#select-arrow-icon {
  color: #de4b4b;
  margin-left: -26px;
  position: absolute;
  bottom: -6px;
  right: 0px;
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
  .default-header {
    display: none;
  }
  .mobile-header {
    width: 100%;
    display: inline-block;
  }
  .mobile-title-container {
    width: 100%;
  }
  .mobile-title-container span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 13px;
  }
  .form {
    width: 100% !important;
  }
  .credit-card-area {
    height: 239px;
    width: 100%;
    padding-top: 38px !important;
  }
  .credit-card-area .area-header {
    margin-bottom: 24px;
  }
  .new-credit-card {
    width: 220px;
  }
  .new-credit-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-credit-card-icon {
    height: 40px;
    width: 40px;
  }
  .new-credit-card-text {
    width: 165px;
    font-size: 16px;
    line-height: 20px;
  }
  .credit-card-display {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .credit-card-container {
    height: 172px !important;
    width: 280px !important;
    padding-top: 27.29px;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
  }
  .credit-card-area {
    padding-left: 0;
    padding-right: 0;
  }
  .credit-card-data {
    width: 249px !important;
  }
  #credit-card-flag {
    height: 18px;
    width: 53px;
    margin-left: -5.4px;
  }
  #credit-card-number {
    display: block;
    margin-top: 34.74px;
    letter-spacing: 2.35px;
  }
  #credit-card-name {
    font-size: 12px;
  }
  #credit-card-cvv-row {
    margin-top: 25.79px;
  }
  #credit-card-cvv {
    font: normal normal normal 19px/28px SF Pro Text;
    letter-spacing: -0.57px;
    color: #3c3c3c;
  }
  #cvv-info-icon {
    vertical-align: middle;
    margin-left: 8px;
  }
  #credit-card-date {
    font-size: 12px;
  }

  #credit-card-bottom-row {
    margin-top: -10px;
  }
  #form-credit-card-name,
  #form-credit-card-installments,
  #form-credit-card-date {
    margin-top: 4px !important;
  }
  .form {
    flex-direction: column;
  }
  .inputs {
    width: 100% !important;
    max-width: 280px;
    margin-top: 90px;
  }
  .inputs-area {
    width: 100%;
    align-items: center;
    padding-right: 0;
    padding-top: 0;
  }
  .inputs-area .area-header {
    display: none;
  }
  #next-button {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1440px) {
  .form {
    height: 550px;
    width: 850px;
  }
  .credit-card-area {
    padding-top: 40px;
  }
  .credit-card-container {
    height: 155px;
    width: 310px;
  }
  .credit-card-data {
    width: 260px;
  }
  #credit-card-number {
    margin-top: 28px;
    font-size: 18px !important;
  }
  .inputs {
    width: 350px;
  }

  #form-credit-card-name,
  #form-credit-card-installments,
  #form-credit-card-date {
    margin-top: 10px;
  }
  #credit-card-cvv-row {
    margin-left: 125px;
    margin-top: 52px;
  }
  #credit-card-cvv {
    font-size: 16px;
  }
}
