/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*https://medium.com/better-programming/improving-font-rendering-with-css-3383fc358cbc*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(./assets/fonts/sf-pro.ttf);
}

.mat-form-field-underline {
  background-color: #c9c9c9 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 8px;
  padding-bottom: 6.8px;
}

.mat-form-field._mat-animation-noopable .mat-form-field-label,
.mat-form-field._mat-animation-noopable .mat-form-field-ripple {
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.mat-select-value-text {
  color: #3c3c3c !important;
  font-family: Verdana !important;
  font-size: 17px !important;
}
.mat-select-arrow {
  opacity: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 6px !important;
}

.mat-error {
  font: normal normal normal 13px/22px Verdana;
}
